{% extends 'base.html' %}
{% load i18n %}

{% block title %}
	{% if form.instance.pk %}
	{% trans 'Update' %}
	{% else %}
	{% trans 'New' %}
	{% endif %}
	{% block title_entity %}{% endblock %}
{% endblock %}

{% block content %}
	{{ block.super }}
	<form method="post" action="{% block action %}{% endblock %}">
		{% csrf_token %}
		{{ form.as_p }}
		{% block extra_form %}{% endblock %}
		<input type="submit" id="submit" class="btn btn-default"/>
	</form>
	{% block extra_out_form %}{% endblock %}
{% endblock %}