{% extends '__form.html' %}
{% load i18n %}
{% load widget_tweaks %}
{% load user_tags %}

{% block extra_js %}
{{ block.super }}
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.flexibleArea.js"></script>
<script>
	$(document).ready(function(){
		$("textarea").flexible();
		
		$('#preconditions tbody tr').formset({
			prefix: '{{ preconditions_formset.prefix }}',
			addText: '{% trans "add another" %}',
			deleteText: '{% trans "remove" %}'
		});
		
		$('#postconditions tbody tr').formset({
			prefix: '{{ postconditions_formset.prefix }}',
			addText: '{% trans "add another" %}',
			deleteText: '{% trans "remove" %}'
		});
		
		$('#steps tbody tr').formset({
			prefix: '{{ steps_formset.prefix }}',
			addText: '{% trans "add another" %}',
			deleteText: '{% trans "remove" %}'
		});
		
		$('#correctiveactions tbody tr').formset({
			prefix: '{{ correctiveactions_formset.prefix }}',
			addText: '{% trans "add another" %}',
			deleteText: '{% trans "remove" %}'
		});

	});
</script>
{% endblock %}

{% block title_entity %}{% trans 'Test Case' %}{% endblock %}

{% block content %}
<form method="post" action="{% block action %}{% endblock %}">
	{% csrf_token %}
	<div class="row">
		<div class="span4">
			<h3>{% trans 'General Information' %}</h3>
			{{ form.as_p }}
		</div>
		<div class="span8">
			<h3>{% trans "Pre-Conditions" %}</h3>
			<div>
				{{ preconditions_formset.management_form }}
				{{ preconditions_formset.non_form_errors }}
				<table id="preconditions" class='table table-condensed'>
					<thead>
						{% with preconditions_formset.forms|first as pc %}
						<tr>
							<td>{{ pc.description.label }}</td>
							<td>{{ pc.DELETE.label }}</td>
						</tr>
						{% endwith %}
					</thead>
					<tbody>
						{% for subform in preconditions_formset.forms %}
						<tr>
							<td>{% render_field subform.description class+='span6' %}{{ subform.description.errors }}</td>
							<td>
								{{ subform.DELETE }}{{ subform.DELETE.errors }}
								{% for h in subform.hidden_fields %}
								{{ h }}
								{% endfor %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<h3>{% trans "Post-Conditions" %}</h3>
			<div>
				{{ postconditions_formset.management_form }}
				<table id="postconditions" class='table table-condensed'>
					<thead>
						{% with postconditions_formset.forms|first as pc %}
						<tr>
							<td>{{ pc.description.label }}</td>
							<td>{{ pc.DELETE.label }}</td>
						</tr>
						{% endwith %}
					</thead>
					<tbody>
						{% for subform in postconditions_formset.forms %}
						<tr>
							<td>{% render_field subform.description class+='span6' %}{{ subform.description.errors }}</td>
							<td>
								{{ subform.DELETE }}{{ subform.DELETE.errors }}
								{% for h in subform.hidden_fields %}
								{{ h }}
								{% endfor %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<h3>{% trans "Steps" %}</h3>
			<div>
				{{ steps_formset.management_form }}
				<table id="steps" class='table table-condensed'>
					<thead>
						{% with steps_formset.forms|first as pc %}
						<tr>
							<td>{{ pc.step_number.label }}</td>
							<td>{{ pc.step_action.label }}</td>
							<td>{{ pc.step_expected_result.label }}</td>
							<td>{{ pc.DELETE.label }}</td>
						</tr>
						{% endwith %}
					</thead>
					<tbody>
						{% for subform in steps_formset.forms %}
						<tr>
							<td>{% render_field subform.step_number class+='span1' %}{{ subform.step_number.errors }}</td>
							<td>{% render_field subform.step_action class+='span3' rows=3 %}{{ subform.step_action.errors }}</td>
							<td>{% render_field subform.step_expected_result class+='span3' rows=3 %}{{ subform.step_expected_result.errors }}</td>
							<td>
								{{ subform.DELETE }}{{ subform.DELETE.errors }}
								{% for h in subform.hidden_fields %}
								{{ h }}
								{% endfor %}
							</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<h3>{% trans "Revisions" %}</h3>
			<div>
				<table class="table table-condensed">
					<thead>
						<tr>
							<th>{% trans 'User' %}</th>
							<th>{% trans 'Date' %}</th>
							<th>{% trans 'Description' %}</th>
						</tr>
					</thead>
					<tbody>
						{% for revision in form.instance.revisions.all %}
						<tr>
							<td>{% user_display_name revision.user %}</td>
							<td>{{ revision.date }}</td>
							<td>{{ revision.description }}</td>
						</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan=3>&nbsp;</td>
						</tr>
					</tfoot>
				</table>
				{{ revision_form.description.label }} {% render_field revision_form.description class+='span5' %}{{ revision_form.description.errors }}
				{% for h in revision_form.hidden_fields %}
				{{ h }}
				{% endfor %}
			</div>
		</div>
	</div>
	<input type="submit" id="submit" />
</form>
{% endblock %}