{% load i18n %}
{% load user_tags %}

{% with record.states.all as states %}
<table class="table table-bordered">
	<thead>
		<tr>
			<th>{% trans "State" %}</th>
			<th>{% trans "Date" %}</th>
			<th>{% trans "Corrective Action" %}</th>
			<th>{% trans "User" %}</th>
			<th>{% trans "Completed" %}</th>
			<th>{% trans "Verified" %}</th>
			{% if actions %}
			<th>&nbsp;</th>
			{% endif %}
		</tr>
	</thead>
	<tbody>
		{% for s in states %}
		<tr>
			<td>{{ s.get_state_display }}</td>
			<td>{{ s.date }}</td>
			<td>{{ s.corrective_action }}</td>
			<td>{% user_display_name s.user %}</td>
			<td>
				{% if s.completed %}
					{% trans "Yes, by" %} {{ s.completed_by }}
				{% else %}
					{% trans "No" %}
				{% endif %}
			</td>
			<td>
				{% if s.verified %}
					{% trans "Yes, by" %} {{ s.verified_by }}
				{% else %}
					{% trans "No" %}
				{% endif %}
			</td>
			{% if actions %}
			<td>
				<div class="btn-group">
					<a href="{% url 'testing:testcasestate_update' s.pk %}" class="btn">+</a>
					<a href="{% url 'testing:testcasestate_delete' s.pk %}" class="btn">x</a>
				</div>
			</td>
			{% endif %}
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endwith %}
