{% extends 'base.html' %}
{% load i18n %}

{% block document_title %}{{ block.super }} - {% trans 'Test Cases Report' %}{% endblock %}

{% block nav %}{% endblock %}

{% block content %}
<style type="text/css">
table.gridtable {
	font-size:11px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
table.gridtable th {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
table.gridtable td {
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
</style>
{% for tc in test_cases %}
	{% include 'testing/__testcase_detail.html' with table_class='gridtable' %}
<pdf:nextpage />
{% endfor %}
{% endblock %}
