{% load i18n %}
{% load user_tags %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>{% block document_title %}Testing{% endblock %}</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.ui/jquery-ui.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.formset.min.js"></script>
		{% block extra_js %}{% endblock %}
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}bootstrap/css/bootstrap-responsive.css">
		<link rel="stylesheet" media="screen" href="{{ STATIC_URL }}js/jquery.ui/themes/base/jquery-ui.min.css"  />
		<style media="screen">
			body {
				padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
			}
		</style>
	</head>
	<body>
		{% block nav %}
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container">
					<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="brand" href="{% url 'home' %}">Testing</a>
					<div class="nav-collapse collapse">
						{% if user.is_authenticated %}
						<ul class="nav">
							<li>
								<a href="{% url 'requirements:requirements' %}">{% trans 'Requirements' %}</a>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans 'Quality' %} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="{% url 'testing:testcases' %}">{% trans 'Test Cases' %}</a>
									</li>
									<li>
										<a href="{% url 'testing:testingplan' %}">{% trans 'Testing plans' %}</a>
									</li>
									<li>
										<a href="{% url 'testing:testcasesreports' %}">{% trans 'Test Cases Report' %}</a>
									</li>
								</ul>
							</li>
						</ul>
						<ul class='nav pull-right'>
							<li class="divider-vertical"></li>
							<li>
								<form action="{% url 'set_language' %}" method="post" class="navbar-form">
									{% csrf_token %}
									<input name="next" type="hidden" value="{{ redirect_to }}" />
									<select name="language" class="input-small">
										{% get_language_info_list for LANGUAGES as languages %}
										{% for language in languages %}
										<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}> {{ language.name_local }} ({{ language.code }}) </option>
										{% endfor %}
									</select>
									<input type="submit" value="Go" class="btn"/>
								</form>
							</li>
							<li class="dropdown">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% user_display_name user %} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li>
										<a href="{% url 'user:userinfo' user.pk %}">{% trans "Profile" %}</a>
									</li>
									<li>
										<a href="{% url 'logout' %}">{% trans 'Log Out' %}</a>
									</li>
								</ul>
							</li>
						</ul>
						{% endif %}
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>
		{% endblock %}
		<div class="container">
			<h1>{% block title %}{% endblock %}</h1>
			{% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				{{ message }}
			</div>
			{% endfor %}
			{% endif %}
			{% block content %}{% endblock %}
		</div>
	</body>
</html>